html{
    height: 100%;
}

*{
    box-sizing: border-box;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding-bottom: 88px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.main{
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img{
    vertical-align: middle;
}

.link {
    min-width: 200px;
    max-width: 600px;
    text-align: center;
    text-decoration: none;
    font-family: Fraunces, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: $light_cream;
    background: $dark_cyan;
    border-radius: 6px;
    padding: 15px 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover{
        background: #66D2CF;
    }

    &:active{
        background: $dark_cyan;
    }
}
