.about-hero {
    margin-bottom: 167px;

    &__container {
        background-image: url("./../images/about-hero.jpg");
        background-repeat: no-repeat;
        background-position: center;
        object-position: center;
        background-size: cover;
        border-radius: 10px;
        padding: 136px 750px 138px 85px;
    }

    &__box {
        color: $light_cream;
        min-width: 445px;
        width: 100%;
    }

    &__header {
        font-family: Fraunces, serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 24px;
    }

    &__text {
        font-family: Barlow, Arial, sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        opacity: 0.8;
    }


    // Tablet devisec
    @media only screen and (max-width:900px) {
        margin-bottom: 144px;

        .container{
            padding-left: 15px;
            padding-right: 15px;
        }

        &__container {
            padding: 127px 233px 126px 58px;
        }

        &__box {
            min-width: 398px;
        }

        &__text {
            font-size: 15px;
            line-height: 25px;
        }
    }


    // Mobile devices
    @media only screen and (max-width:660px) {
        margin-bottom: 120px;

        .container{
            padding-left: 10px;
            padding-right: 10px;
        }

        &__container {
            padding: 111px 24px 87px 24px;
        }

        &__box {
            min-width: 279px;
            text-align: center;
        }

        &__header {
            font-size: 28px;
            line-height: 28px;
        }
    }

    }



    // code for retian displays
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {

        .about-hero{
            &__container {
                background-image: url("./../images/about-hero@2x.jpg");
            }
        }


    }