.headquarters {
    margin-bottom: 168px;

    &__container {
        padding-left: 85px;
        padding-right: 85px;
    }

    &__heading {
        font-family: Fraunces, serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: $grey;
        margin-bottom: 72px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        max-width: 380px;
        width: 100%;
    }

    &__item1::before {
        content: "";
        width: 51px;
        height: 50px;
        display: inline-block;
        background-image: url("./../../images/united-kingdom.svg");
        background-repeat: no-repeat;
        background-position: center;
        object-position: contain;
        margin-bottom: 46px;
    }

    &__item2::before {
        content: "";
        width: 51px;
        height: 50px;
        display: inline-block;
        background-image: url("./../../images/canada.svg");
        background-repeat: no-repeat;
        background-position: center;
        object-position: contain;
        margin-bottom: 46px;
    }

    &__item3::before {
        content: "";
        width: 51px;
        height: 50px;
        display: inline-block;
        background-image: url("./../../images/australia.svg");
        background-repeat: no-repeat;
        background-position: center;
        object-position: contain;
        margin-bottom: 46px;
    }

    &__small-heading {
        font-family: Fraunces, serif;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: $dark_grey_blue;
        margin-bottom: 24px;
    }

    &__inner-list {
        font-family: Barlow, Arial, sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: $dark_grey_blue;
    }

    // Tablet devices

    @media only screen and (max-width:1100px) {
        margin-bottom: 144px;

        &__container {
            padding-left: 0px;
            padding-right: 0px;
        }

        &__heading {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 21px;
        }

        &__item {
            max-width: 223px;
        }

        &__item + &__item {
            margin-left: 8px;
        }

        &__item1::before {
            margin-bottom: 48px;
        }

        &__item2::before {
            margin-bottom: 48px;
        }

        &__item3::before {
            margin-bottom: 48px;
        }

        &__small-heading {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 21px;
        }
    }


    // Mobile devisec

    @media only screen and (max-width:760px) {
        margin-bottom: 120px;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__heading {
            margin-bottom: 72px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 327px;
            width: 100%;
        }

        &__item {
            max-width: 327px;
            width: 100%;

        }

        &__item + &__item {
            margin-left: 0;
        }

        &__item1:not(last) {
            margin-bottom: 80px;
        }

        &__small-heading {
            font-size: 28px;
            line-height: 36px;
            margin-bottom:22px;
            max-width: 327px;
        }

        &__inner-list {
            max-width: 100%;
        }

        &__inner-item {
        }

        &__item2 {
        }

        &__item3 {
        }


    }
}
