.header {
    padding-top: 40px;
    padding-bottom: 40px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-link {
        display: inline-block;
    }

    &__logo-img {
        width: 236px;
        height: 26px;
    }

    &__button {
        background: none;
        border: none;
        display: none;
    }

    &__on {
        display: block;
    }

    &__off {
        display: none;
    }

    &__list {
        display: flex;
    }

    &__item + &__item{
        margin-left: 33px;
    }

    &__nav-link {
        text-decoration: none;
        font-family: Barlow, Arial, sans-serif;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
        display: inline-block;

        &:hover{
            color: #333D4B;
        }
    }

    &__nav-link--active{
        color: #333D4B;
    }


    @media only screen and (max-width: 660px) {
        padding-bottom: 54px;
        position: relative;

        .container{
            padding-left: 10px;
            padding-right: 10px;
        }

        &__button {
            display: block;
        }

        &__navbar {
            display: none;
            position: absolute;
            background-color: lightcoral;
            width: 100%;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
        }

        &__list {
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item + &__item {
            margin-left: 0;
        }

        &__nav-link {
            padding-top: 20px;
            padding-bottom: 20px;
            display: block;
            width: 100%;
            font-family: Fraunces, Arial, sans-serif;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #333D4B;
        }
        // @media only screen and (max-width:520) {
        //     padding-top: 33px;
        //     padding-bottom: 40px;
        //     .header--open .header {
        //         &__navbar{
        //             display: none;
        //         }

        //         &__on {
        //             display: none;
        //         }

        //         &__off {
        //             display: block;
        //         }
        //     }
        // }
    }






}
